@using HotelFinalProgramacionAvanzada.Utility

@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Natural Connection</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <link rel="preload" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css" data-rocket-async="style" as="style" onload="this.onload=null;this.rel='stylesheet'" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
    <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" data-rocket-async="style" as="style" onload="this.onload=null;this.rel='stylesheet'" />
    <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" data-rocket-async="style" as="style" onload="this.onload=null;this.rel='stylesheet'" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Natural Connection</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">@localizer["Home"]</a>
                        </li>
                        @if (!User.IsInRole(SD.Roles.Administrador) || !User.IsInRole(SD.Roles.Empleado))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Reserva" asp-action="InicioReserva">@localizer["Reserve"]</a>
                            </li>
                        }
                        @if (User.IsInRole(SD.Roles.Cliente))
                        {

                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Reserva" asp-action="Index">@localizer["My reservations"]</a>
                            </li>

                        }
                        @if (User.IsInRole(SD.Roles.Administrador))
                        {

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @localizer["Maintenance"]
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Hotel" asp-action="Index">
                                        <i class="fas fa-hotel"></i> @localizer["Hotels"]
                                    </a>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="TipoHabitacion" asp-action="Index">
                                        <i class="fas fa-dolly-flatbed"></i> @localizer["Room types"]
                                    </a>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="EstadoReserva" asp-action="Index">
                                        <i class="fas fa-plus-square"></i> @localizer["Reserve states"]
                                    </a>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Habitacion" asp-action="Index">
                                        <i class="fas fa-bed"></i> @localizer["Bedrooms"]
                                    </a>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Usuario" asp-action="Index">
                                        <i class="fas fa-user-shield"></i> @localizer["Employees"]
                                    </a>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Reserva" asp-action="Index">
                                        <i class="fas fa-procedures"></i> @localizer["Reservation"]
                                    </a>
                                </div>
                            </li>
                        }
                        @if (User.IsInRole(SD.Roles.Empleado))
                        {

                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Reserva" asp-action="Index">@localizer["Change of states"]</a>
                            </li>

                        }
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Nosotros" asp-action="Index">@localizer["About us"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Contacto" asp-action="Index">@localizer["Contact"]</a>
                        </li>
                    </ul>
                </div>
                <partial name="_LoginPartial" />
            </div>
            <ul class="navbar-nav">
                <li class="nav-item" style="width: 100%; text-align: right;">
                    @await Html.PartialAsync("_CulturePartial")
                </li>
            </ul>

        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="form-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">

                </div>
            </div>
        </div>
    </div>

    <div class="loaderbody" id="loaderbody">
        <div class="loader"></div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Cadena Natural Connection
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://kit.fontawesome.com/b4bbf55a6d.js" crossorigin="anonymous"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
