@model HotelFinalProgramacionAvanzada.Models.ViewModels.ReservaViewModel

@{ ViewData["Title"] = "Selecion de detalle"; }
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

<div class="row">
    <div class="col-md-12 mt-3">
        <div class="card bg-dark text-white">
            <img class="card-img img-responsive" src="~/images/hoteles/banner-@Model.Hotel.UrlImagen" alt="Hotel @Model.Hotel.Nombre">
            <div class="card-img-overlay " style="background-color: rgba(0, 0, 0, 0.6);">
                <h1 class="card-title mt-5 ml-5">@Model.Hotel.Nombre</h1>
                <div class="col-md-6 ml-5">
                    <p class="card-text " style="text-align: justify">@Model.Hotel.Descripcion</p>
                    <p class="card-text"><small> @Model.Hotel.Ciudad. Teléfono: +506 @Model.Hotel.Telefono</small></p>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12 mt-5">
        <hr />
        <h3>Tipos de habitación.</h3>
        @foreach (var item in Model.TiposHabitacionList)
        {
            <div class="col-sm-6 col-md-4 mt-4" style="float:left">
                <div class="card">
                    <img class="card-img-top img-responsive" src="~/images/habitacion/@item.ImagenTipo" alt="Tipo de habitacion @item.Nombre">
                    <div class="card-body">
                        <h3>@item.Nombre</h3>
                        <p class="card-text" style="text-align: justify">@item.Descripcion</p>
                        <p class="card-text"><small class="text-muted">Costo por noche: @item.CostoNoche Colones</small></p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div class="row">
    <div class="col-md-12 mt-4">
        <hr />
        <form asp-action="PreReserva" asp-route-id="@Model.Reserva.ReservaId">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Hotel.HotelId" />
            <h4>Completa los siguientes datos:</h4>
            <div class="col-sm-6 mt-2" style="float: left">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="Reserva.FechaLlegada" class="control-label"></label>
                            <input asp-for="Reserva.FechaLlegada" class="form-control" />
                            <span asp-validation-for="Reserva.FechaLlegada" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="Reserva.FechaSalida" class="control-label"></label>
                            <input asp-for="Reserva.FechaSalida" class="form-control" />
                            <span asp-validation-for="Reserva.FechaSalida" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 mt-2" style="float: left">
                <div class="form-group">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="TipoHabitacionId" class="control-label"></label>
                            @Html.DropDownListFor(s => s.TipoHabitacionId, Model.TiposHabitacionDD, "-- Seleccione un tipo --", new { @class = "form-control" })
                            <span asp-validation-for="TipoHabitacionId" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="submit" value="Continuar" class="btn btn-primary" style="width: 240px" />
                    </div>
                </div>
            </div>
            @if (TempData["notificacion"] != null)
            {
                <script>
                    Swal.fire({
                        position: 'center',
                        icon: 'warning',
                        title: 'No hay disponibilidad!',
                        showConfirmButton: true
                    })
                </script>
            }

        </form>
    </div>
</div>


@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}






